* {
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}

html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #292929;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  background: #f1f1f1;
}

body::-webkit-scrollbar-thumb {
  background: #424242;
}

body::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.typewriter {
  animation: typewriter 4s steps(21) infinite;
}

@keyframes typewriter {
  0% {
    width: 0;
    border-right: 1px solid white;
    
  }
  50% {
    width: 100%;
    border-right: 1px solid white;
  }
  100% {
    width: 100%;
    border-right: 1px solid white;
  }
}

.home {
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 0 10%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.home-content {
  max-width: 600px;
  transform: translate(-32px, 0px);
}

.home-content h1 {
  position: relative;
  font-size: 56px;
  font-weight: 700;
  color: white;
  overflow: hidden;
  white-space: nowrap;
  border-right: 1px solid white;
  animation: typewriter 6s steps(21) infinite;
  animation-delay: 1s;
}

.home-content h3 {
  font-size: 32px;
  font-weight: 700;
  color: #ff3c78;
  transform: translateY(-40px);
}

.home-content p {
  font-size: 20px;
  color: white;
  transform: translateY(-30px);
}

.home-content button {
  color: white;
  background-color: #2b2b2b;
  font-size: 20px;
  font-weight: 700;
  border-radius: 50px;
  width: 150px;  
  height: 55px;
  margin-right: 70px;
  transition: transform .4s ease, background-color .4s ease-out;
}

.button-container {
  transform: translateY(-35px);
}

.home-content button:hover {
  background-color: #ff3c78;
  cursor: pointer;
  transform: scale(1.1);
}

.home-content button:not(:hover) {
  transition-delay: 0s;
  background-color: transparent;
}

.about {
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 0 10%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.about-content {
  max-width: 600px;
  transform: translate(-32px, 180px);
}

.about-content h1 {
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  color: white;
  transform: translate(-145px, -250px);
}

.about-content p {
  font-size: 20px;
  color: white;
  transform: translateY(-275px);
}

.pfp-container {
  position: relative;
  width: 400px;
  height: 400px;
  background-color: black;
  border-radius: 50%;
  transform: translateX(100px);
  overflow: hidden;
}

.pfp-container::before {
  content: '';
  position: absolute;
  inset: -10px 140px;
  background: linear-gradient(315deg, #ff9e9e, #ec4646);
  animation: spin 4s linear infinite;
}

@keyframes spin {
  0%
  {
    transform: rotate(0deg);
  }
  0%
  {
    transform: rotate(360deg);
  }
}

.pfp-container::after {
  content: '';
  position: absolute;
  inset: 6px;
  background: #292929;
  border-radius: 50%;
  z-index: 1;
}

.pfp-content {
  position: absolute;
  inset: 30px;
  border: 6px solid black;
  z-index: 3;
  border-radius: 50%;
  overflow: hidden;
}

.pfp-content img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info-box {
  transform: translateY(40px);
}


.contact {
  height: 100vh;
  text-align: center;
  transform: translateY(300px);
 
}

.contact-content {
  flex-basis: 48%;
  max-width: 1200px;
  margin: 0 auto;
}

.contact-content h1 {
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  color: white;
  transform: translateY(-250px);
}

.contact-content p {
  font-size: 20px;
  color: white;
  transform: translateY(-295px);
}

.contact-content img {
  width: 100px;
  transform: translateY(-285px);
}

.social-container {
  transform: translateY(-30px);
}

.insta-container {
  transform: translateX(-100px);
}

.snap-container {
  transform: translate(100px, -162px);
}

.github-container {
  transform: translate(100px, -162px);
}

.youtube-container {
  transform: translate(-100px, -327px);
}

.portfolio {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(750px);
}

.portfolio-content {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.work-column, .experience-column {
  flex-basis: 48%;
}

.work-column h1 {
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  color: white;
}

.experience-column h1 {
  text-align: center;
  font-weight: 700;
  color: white;
}

.skill-content h1 {
  text-align: center;
  margin-top: 0;
}

.skill-content h3 {
  margin: 5px;
}

.skill-content {
  width: 500px;
  margin: 0 auto;
  color: #FFF;
  padding: 20px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  background-color: #3b3b3b;
  border-radius: 10%;
}

.skill-content li {
  margin: 20px 0;
  padding: 10px;
}

.skill-container {
  font-family: 'Josefin Sans', sans-serif;
  list-style: none;
  text-transform: uppercase;
  transform: translate(50px, -100px);
  position: relative;
  max-width: 500px;
  width: 100%;
  margin: 0 15px;
  padding: 10px 20px;
  border-radius: 10px;
}

.skill-container .skill-bar {
  width: 100%;
  margin: 25px 0;
}

.skill-box .title {
  display: block;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
}

.skill-box .skill-bar {
  height: 15px;
  width: 100%;
  border-radius: 6px;
  margin-top: 6px;
  background: rgba(0, 0, 0, 0.1);
}

.skill-bar .skill-percentage {
  position: relative;
  display: block;
  height: 100%;
  width: 0%;
  border-radius: 6px;
  background: linear-gradient(135deg, #f23161 0%, #e1e42f 100%);
  animation-duration: 3s;
  animation-timing-function: ease;
}

.skill-percentage.html {
  animation-name: html;
  width: 65%;
}

.skill-percentage.css {
  animation-name: css;
  width: 55%;
}

.skill-percentage.javascript {
  animation-name: javascript;
  width: 30%;
}

.skill-percentage .tooltip {
  position: absolute;
  right: -18px;
  top: -26.5px;
  font-size: 15px;
  font-weight: 500;
  color: #ffffff;
  padding: 4px 6px;
  border-radius: 3px;
  background: #949494;
  z-index: 1;
  width: 40px;
  height: 20px;
}

.tooltip::before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -4px;
  width: 10px;
  height: 10px;
  z-index: -1;
  background-color: #949494;
  transform: translate(-50%) rotate(45deg);
}

@keyframes html {
  0% {
    width: 0%;
  }
  100% {
    width: 65%;
  }
}

@keyframes css {
  0% {
    width: 0%;
  }
  100% {
    width: 55%;
  }
}

@keyframes javascript {
  0% {
    width: 0%;
  }
  100% {
    width: 30%;
  }
}


.portfolio-content h1 {
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  color: white;
  transform: translateY(-250px);
}

.portfolio-content h2 {
  text-align: center;
  font-size: 25px;
  font-weight: 700;
  color: white;

}
.portfolio-content p {
  font-size: 20px;
  color: white;
  transform: translateY(-295px);
}

.eating-green {
  transform: translateY(-275px);
}

.adventure-game {
  transform: translateY(-225px);
}

.informational-project {
  transform: translateY(-175px);
}

.project-video p {
  transform: translateY(0px);
}

iframe {
  border-radius: 25px;
  border: 5px inset #ff3c78;
}

.src-code-container, .src-code-container2, .src-code-container3 {
  display: flex;
  justify-content: center;
  transform: translateY(8px);
}


.src-code, .src-code2, .src-code3 {
  position: relative;
  border: 3px solid #000000;
  border-radius: 20px;
  display: flex;
  cursor: pointer;
  align-items: center;
  gap: 5px;
  max-width: max-content;
  transition: transform 0.4s ease, background-color 0.4s ease-out;
}

.src-code img, .src-code2 img, .src-code3 img {
  transform: translateX(3px);
  width: 50px;
  height: 50px;
}

.src-code:hover, .src-code2:hover, .src-code3:hover {
  transform: scale(1.1);
  background-color: #ec4646;
}

.src-code:not(:hover), .src-code2:not(:hover), .src-code3:not(:hover) {
  transition-delay: 0s;
  background-color: transparent;
}

.brand-title {
  font-size: 2.0rem;
  margin: 1rem;
  transform: translateX(100px);
  text-shadow: 2px 2px 4px #ec4646;
  opacity: 0;
  animation: fade-in-out 3s ease-in-out infinite;
}

@keyframes fade-in-out {
  0%, 100% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
}

.nav-container {
  position: fixed;
  width: 100vw;
  transform: translate(0px, -4px);
  top: 0;
  left: 0;
  z-index: 100;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1c1c1c;
  color: white;
}

.nav-links {
  display: flex;
}

.nav-links ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  padding: 25px;
  transform: translateX(-80px);
}

.nav-links a {
  color: white;
  text-decoration: none;
  transition: all .4s ease;
  cursor: pointer;
  font-size: 18px;
}

a::after {
  content: "";
  position: absolute;
  background-color: #ff3c78;
  height: 3px;
  width: 0;
  left: 0;
  bottom: 0px;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #ec4646;
}

.nav-links a:hover::after {
  width: 100%
}
